<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>mynewview</title>
</head>
<body>
    <div> 
        <h1>
            My new view
        </h1>
    </div>
</body>
</html>
