@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
</head>
<body>
    <div>
        <h1>@ViewData["MyKey"]</h1>
    </div>
    <div>
        <ul>
            @foreach (var item in (List<string>) ViewData["MyList"])
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>
</body>
</html>
