

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AboutUs</title>
</head>
<body>
    <div> 
        <h1>
            Hello Iam from Home contrller amd AboutUs action method
        </h1>
    </div>
</body>
</html>
