<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>
            Hello, I am from Home Controller and Index action method
        </h1>
    </div>
    <div>
        <a href="/Home/AboutUs">Home - About Us</a><br />
        <a href="/Employee/Index">Employee - Index</a><br />
        <a href="/Employee/AboutUs">Employee - About Us</a><br />
    </div>
</body>
</html>
