<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AbouUs</title>
</head>
<body>
    <div> 
        <h1>
            Helllo, I am from Home Controller and AboutUs action method
        </h1>
    </div>
</body>
</html>
