<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <table>
       <tbody>
           <tr>
               <td>
                   Id
               </td>
               <td>
                  @Model.Id
               </td>
           </tr>
           <tr>
               <td>
                   Name
               </td>
               <td>
                   @Model.Name
               </td>
           </tr>
           <tr>
               <td>
                   Address
               </td>
               <td>
                   @Model.Address
               </td>
           </tr>
       </tbody>
   </table>
</body>
</html>
