<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>I am from Student Controller and Index action method</h1>
    </div>
</body>
</html>
