@using Strongly_Html_Helpers.Models
@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using(Html.BeginForm("myForm"))
            {
        @Html.TextBoxFor(x =>x.Name) <br /><br />
        @Html.TextBoxFor(x=>x.Address)<br /><br />
        @Html.CheckBoxFor(x=>x.IsEmployee)<br /><br />
        <input  type="submit" value="Press me"/>
            }
    </div>
</body>
</html>
